*{
    font-family: 'Audiowide', cursive, monospace;
}

/* Google home image */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

/* == HEADER ELEMENTS STYLING == */
header {
    display: flex;
    justify-content: center; /* centers horizontally in a viewport */
    align-items: center;     /* centers vertically within a flex row */
}

header h1 {
    font-size: 32px;
    flex-grow: 1;
    text-align: center;
}

body{
    background-color: beige;
}