/* == GLOBAL STYLES == */
*{
    font-family: 'Audiowide', cursive, monospace;
    color: #032B43;
}


body{
    background-color: white;
}

/* Google home image */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  font-size: clamp(24px, 2.5vw, 36px) !important; /*overrides default font size defined by google*/
}

/* == HEADER ELEMENTS STYLING == */
header {
    display: flex;
    justify-content: center; /* centers horizontally in a viewport */
    align-items: center;     /* centers vertically within a flex row */
}

header h1 {
    font-size: 32px;
    flex-grow: 1;
    text-align: center;
}
